#!/bin/sh

<%= if @setup then @setup else "" end %>

if [ -f <%= @pid_file %> ] ; then
    PID=`cat < <%= @pid_file %>`
fi

case "$1" in
    start)
        if $0 status 2>/dev/null ; then
            # already running
            exit 0
        else
            if [ $? == 2 ] ; then
                rm -f "<%= @pid_file %>"
            fi
            <%= @start %>
        fi
        ;;
    stop)
        if $0 status 2>/dev/null ; then
            <%= @stop %>
            if [ -n "$PID" ] ; then
                while kill -0 $PID >/dev/null 2>&1 ; do
                    sleep 1
                done
            fi
        fi
        # ensure that pid file is gone
        rm -f <%= @pid_file %>
        exit 0
        ;;
    restart)
        <% if @restart then %>
        <%=   @restart %>
        <% else %>
        $0 stop
        $0 start
        <% end %>
        ;;
    status)
        if [ -n "$PID" ] ; then
            if kill -0 $PID 2>/dev/null ; then
                echo "$0 is running" > /dev/null >&2
                exit 0
            else
                echo "$0 is NOT running, but PID file exists." > /dev/null >&2
                exit 2
            fi
        else
            echo "$0 is NOT running." > /dev/null >&2
            exit 3
        fi
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
        ;;
esac
exit 0
